*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus{
    outline: none;

}
body{
    display: contents;
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: auto;
    justify-content: center;
    align-items: center;
    background-color: #9a0202;
    background-size: cover;
    background-position: center;
    font-family: sans-serif, "robota";


}
#myVideo {
    z-index: -5000;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

.block{
    text-align: center;
}
.form{
    display: table-cell;
    width: 800px;
    height: auto;
    color: #fff;
    font-family: sans-serif;
    vertical-align: middle;

}
.wrapper{
    display: inline-flex;
    height: 100px;
    width: 400px;
    align-items: left;
    justify-content: space-evenly;
    border-radius: 5px;
    padding: 20px 15px;
    margin: 0px 0px 10px 200px;
  }
  .wrapper .option{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    padding: 0 10px;
    border: 2px solid rgb(255, 255, 255);
    transition: all 0.3s ease;
  }
  .wrapper .option .dot{
    height: 20px;
    width: 20px;
    background: #d9d9d9;
    border-radius: 50%;
    position: relative;
  }
  .wrapper .option .dot::before{
    position: absolute;
    content: "";
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background: #0069d9;
    border-radius: 50%;
    opacity: 0;
    transform: scale(1.5);
    transition: all 0.3s ease;
  }
  input[type="radio"]{
    display: none;
  }
  #option-1:checked:checked ~ .option-1,
  #option-2:checked:checked ~ .option-2{
    border-color: #0069d9;
    background: #0069d9;
  }
  #option-1:checked:checked ~ .option-1 .dot,
  #option-2:checked:checked ~ .option-2 .dot{
    background: #fff;
  }
  #option-1:checked:checked ~ .option-1 .dot::before,
  #option-2:checked:checked ~ .option-2 .dot::before{
    opacity: 1;
    transform: scale(1);
  }
  .wrapper .option span{
    font-size: 20px;
    color: #ffffff;
  }
  #option-1:checked:checked ~ .option-1 span,
  #option-2:checked:checked ~ .option-2 span{
    color: #fff;
  }


.heading{
    margin-top: 5%;
    color: #ffffff;
    font-family: sans-serif;
    opacity: 1;
    text-transform: capitalize;
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 5px;

}
.heading-2{
    color: #ffffff;
    opacity: 1;
    text-transform: capitalize;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 20px;

}
.title{
    margin-top: 50px;
    margin-bottom: 5px;
}
.title1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 5px;
}
.selectdiv {
    position:relative;
    /*Don't really need this just for demo styling*/

    float: left;
    min-width: 200px;
    align-items: left;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;

  }
  
  /* IE11 hide native button (thanks Matt!) */
  select::-ms-expand {
  display: none;
  }
  
  .selectdiv:after {
    
    font: 17px "Consolas", monospace;
    color: #333;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 11px;
    /*Adjust for position however you want*/
    
    top: 18px;
    padding: 0 0 2px;
    border-bottom: 1px solid #999;
    /*left line */
    
    position: absolute;
    pointer-events: none;
  }
  
  .selectdiv select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Add some styling */
    
    display: block;
    width: 100%;
    max-width: 320px;
    height: 50px;
    float: right;
    margin: 5px 0px;
    padding: 0px 24px;
    font-size: 16px;
    line-height: 1.75;
    color: #333;
    background: rgba(255, 255, 255, 0.3);
    background-image: none;
    border: 1px solid #cccccc;
    -ms-word-break: normal;
    word-break: normal;
  }

.buttons{
    margin-top: 60px;
}
.anchor{
    text-decoration: none;
}

input,
.submit-btn{
    text-decoration: none;
    margin-left: 200px;
    opacity: 1;
    width: 50%;
    height: 35px;
    display: block;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.3);
    border: none;
    color: #fff;
    padding: 15px;
    transition: .5s;
    text-transform: capitalize;

}

input::placeholder{
    color: #fff;
}
input:focus,
.submit-btn:hover{
    background:#fff;
    color: #000;

}
input:focus::placeholder{
    color: #000;
}
.submit-btn{
    width: auto;
    padding: 0 20px;
    cursor: pointer;
    margin: 10px auto;
    opacity: 1;
}
.link{
    opacity: 1;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    display: block;
    margin: 30px auto;
}
.link:hover{
    color: #fff;
}
.alert-box{
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 150px;
    max-width: 90%;
    width: auto;
    height: auto;
    padding: 10px;
    text-transform:capitalize;
    background: rgba(255, 119, 119);
    border-top: 10px solid rgba(255, 37, 37);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #fff;
    font-family: sans-serif ;
    text-align: center;
    transition: 1s;
}